{% if label %}
<label for="{{ id }}">{{label}}</label>
{% endif %}
<div class="radiogroup">
	{% for option in options %}
	<div>
		<input type="radio" name="{{name}}" value="{{ option.value }}" id="{{ option.id }}"{% if (value == option.value) %} checked="checked"{%  endif %}><label for="{{ option.id }}">{{ option.label }}</label>
	</div>
	{% endfor %}
</div>